DJANGO_SECRET_KEY=flowdesk-local-dev-key
DJANGO_DEBUG=true
DJANGO_ALLOWED_HOSTS=localhost,127.0.0.1
CORS_ALLOWED_ORIGINS=http://localhost:5173,http://127.0.0.1:5173

MYSQL_DATABASE=flowdesk
MYSQL_USER=root
MYSQL_PASSWORD=DVADMIN3
MYSQL_HOST=127.0.0.1
MYSQL_PORT=3306
